/* subPackages/package/pages/orderDetail/orderDetail.wxss */
page {
  --td-tab-item-active-color: rgb(205, 174, 242);
  --td-tab-track-color: rgb(205, 174, 242);
}

.container {
  padding: 20rpx;
  width: 100%;
  /* 确保父容器宽度是 100% */
  box-sizing: border-box;
  /* 确保 padding 不影响宽度 */
}

.order-item {
  background: #fff;
  border-radius: 16rpx;
  margin-bottom: 20rpx;
  box-shadow: 0 4rpx 12rpx rgba(0, 0, 0, 0.08);
  width: 690rpx;
  /* 确保宽度是 100% */
  box-sizing: border-box;
  /* 确保宽度包含 padding */
}

.order-header {
  display: grid;
  justify-content: space-between;
  padding: 24rpx;
  border-bottom: 1rpx solid #eee;
}

.order-body {
  padding: 24rpx;
}

.product-item {
  display: flex;
  margin-bottom: 24rpx;
}

.product-image {
  width: 160rpx;
  height: 160rpx;
  border-radius: 8rpx;
}

.product-info {
  flex: 1;
  margin-left: 24rpx;
}

.product-add {
  margin-top: 10rpx;
  font-size: 26rpx;
  color: gray;
}

.price-line {
  display: flex;
  justify-content: space-between;
  margin: 12rpx 0;
  color: #666;
}

/* 使用类选择器代替标签选择器 */
.price-text {
  font-size: 28rpx;
  color: #666;
}

.order-footer {
  display: flex;
  justify-content: space-between;
  padding: 24rpx;
  border-top: 1rpx solid #eee;
  background: #fafafa;
}

.order-total {
  color: #e4393c;
  font-weight: bold;
}

.empty-tip {
  text-align: center;
  color: #999;
  padding: 100rpx 0;
}

.product-total {
  color: #e4393c;
  font-size: 30rpx;
  font-weight: bold;
}