# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

#微信小程序自动构建产物
miniprogram_npm/

#微信小程序本地私有配置
project.private.config.json
