.page-wrapper {
  background-color: #fff;
  height: 100vh;
}

.page-wrapper .btn-wrapper .btn {
  width: 95vw;
  border-radius: 40rpx;
  height: 80rpx;
  font-size: 30rpx;
  background-color: #27d6f5;
  padding: 20rpx;
}

.page-wrapper .btn-wrapper .btn[disabled] {
  background-color: #e7e5e5;
}

.page-wrapper .record-wrapper {
  padding: 20rpx;
}

.page-wrapper .record-wrapper .title {
  color: #444;
  font-weight: bold;
}

.page-wrapper .record-wrapper .title .img {
  width: 60rpx;
  height: 60rpx;
  position: relative;
  top: 18rpx;
}

.page-wrapper .record-wrapper .record {
  display: flex;
  justify-content: space-around;
  margin-top: 20rpx;
}

.page-wrapper .record-wrapper .record .record-item {
  text-align: center;
  font-size: 24rpx;
  color: #a3a3a3;
}

.page-wrapper .record-wrapper .record .record-item .top {
  height: 80rpx;
  line-height: 80rpx;
  border-bottom: 1px solid #ececec;
  color: #333;
}

.page-wrapper .record-wrapper .record .record-item .top .num {
  font-size: 44rpx;
  font-weight: bold;
  color: #F44336;
}